@charset "UTF-8";
.transfer-contents-in > div, .transfer-contents-out > div {
	/* display: grid;
	grid-template-columns:repeat(7, 1fr); */
}

/* .in-out-header {
	grid-column: 1 / span 7;
} */

.transfer-contents-title, .transfer-contents-content {
	 display: grid;
	 grid-template-columns:repeat(7,1fr);
	 place-items: center;
	 border : none;
} 
.transfer-contents-title{
	 background-color : #F0EFEF;
}

.transfer-contents-content:hover{
   cursor:pointer;
   box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.transfer-menu{
	display:flex;
}
.transfer-menu-btn{
	width:70%;
}
.transfer-menu-select{
	width:30%;
	display:flex;
	justify-content:end;
	align-items:center;
	margin-right:1rem;
}
.transfer-menu-select > select{
	width:40%;
	border-radius:10px;
	text-align:center;
	height:80%;
}
.transfer-menu-select option{
	padding: 20px 0;
}
.transfer-contents-in > div, .transfer-contents-out > div{
	text-align: center;
	padding : 0.5rem;
}

.transfer-title{
	font-weight:700;
	padding: 1rem;
	/* background-color : #9EFCFC; */
}


.transfer-noData-style{
	grid-column : 1/-1;
	padding :1rem;
}

.transfer-menu-btn > button {
	width : 100px;
	height : 50px;
	border-radius:10px;
	cursor:pointer;
}
